# 開發環境設定：localhost, dev, prod
ENVIRONMENT_MODE=dev

STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DATABASE_URL=
DB_NAME=medusa-v2

# 檔案上傳配置
BACKEND_URL=http://localhost:9000

# ecpay 

# ecpay api 的host, ex: https://payment-stage.ecpay.com.tw
ECPAY_HOST=https://payment.ecpay.com.tw

# ecpay 特店編號
ECPAY_MERCHANT_ID=9999999

# ecpay HashKey
ECPAY_HASH_KEY=xxxxxxxxxxxxxxxx

# ecpay HashIV
ECPAY_HASH_IV=xxxxxxxxxxxxxxxx

# ecpay 商家檢查碼, 廠商後台->信用卡收單->信用卡授權資訊中可查到。
ECPAY_CREDIT_CHECK_CODE=999999
